body {
  background: #000000;
  color: white;
}

.container {
  margin-top: 20px;
  display: flex;  
  width: inherit;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  color: white;
  margin-bottom: 20px;
}

.info > a {
  color: #35b997;
}

input {
  border: 1px #808080 solid;
  background: none;
  color: #f0f0f0;
  padding: 10px;
  transition: background 0.5s, border 0.5s;
  transition-timing-function: ease-in;
}

input:hover {
  border: 1px #808080 solid;
  background: #323232;
}

button {
  border: 1px #f0f0f0 solid;
  background: #f0f0f0;
  color: #333;
  padding: 10px;  
  border-left: none;
  user-select: none;
  transition: background 0.4s, color 0.4s;
  transition-timing-function: ease-in;
}

button:hover {
  background: #0092cc;
  color: #f0f0f0;
  border: #0f89ca;
}

.form {
  display: grid;
  grid-template-columns: 80% 20%;
}

.block {
  width: 100%;
}

.item {
  margin-top: 10px;
  background: #08b9a5;
  color: #323232;
  padding: 10px;
  word-wrap: break-word; 
  width: inherit; 
  border-radius: 3%;
  transition: background 0.4s;
  transition-timing-function: ease-in;
}

.item:hover {
  background: #0f89ca;
}

.close {
  display: inline;
  float: right;
  border-radius: 3%;
  user-select: none;
  padding: 5px;
  padding-top: 0;
  transition-timing-function: ease-in;
  transition: color 1s;
  cursor: pointer;
}

.item:hover > .close {
  color: #ee573d;
  cursor: pointer;
}
